@import "../../style/variables";
@import "../../style/mixins";

.report-list {
  @include listBase;

  &__item {
    @include itemBase;
    position: relative;
    padding-right: 5rem;

    &:hover {
      @include itemHoverBase;

      &__downloadButton {
        color: red;
      }
    }

    &__link {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: inherit;
    }

    &__downloadButton {
      @include buttonBase;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      z-index: 1;
      background-color: $primary-color;
      color: $third-color;
      border: 0.15rem solid $primary-color;
      border-radius: $border-radius;

      &:hover {
        color: $primary-color;
        border: 0.15rem solid $third-color;
        border-radius: $border-radius;
      }
    }
  }
}
