@import "../../style/variables";
@import "../../style/mixins";
@import "../../style/maps";

// --- REPORT DETAILS ---
.reportDetails {
  @include detailsBase;

  // --- NAME ---
  &__name {
    font-size: map-get($font-sizes, "medium");
  }

  // --- BUTTONS ---
  &__optionsContainer {
    @include flexboxRow;
    gap: 1rem;
    margin-top: 2rem;

    &__downloadButton {
      @include buttonBase;
      margin: 0rem;
      width: 2.8rem;
      height: 2.8rem;
      padding-top: 0.3rem;
    }
  }
}
