@import "../../style/variables.scss";
@import "../../style/mixins.scss";
@import "../../style/maps.scss";

.navbar {
  background-color: $primary-color;
  color: $third-color;
  padding: $spacing-md;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family;

  &__title {
    margin: 0;
    margin-left: 1rem;
    font-size: map-get($font-sizes , "medium");
  }

  &__links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-md;

    a {
      color: $third-color;
      text-decoration: none;
      font-size: map-get($font-sizes , "small");

      &:hover {
        color: darken($third-color, 60%);
      }
    }
  }
}
