@import "../../style/variables.scss";
@import "../../style/mixins.scss";
@import "../../style/maps.scss";

.navbar {
  background-color: $primary-color;
  color: $third-color;
  padding: $spacing-md;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family;

  &__logo {
    @include flexboxRow;
    gap: 0.4rem;
    align-items: center;
    margin-left: 1rem;

    &__title {
      margin: 0rem;
      margin-left: 2rem;
      font-size: map-get($font-sizes, "medium");
    }

    &__icon {
      min-width: 3rem;
      min-height: 3rem;
    }
  }

  &__hamburger {
    position: absolute;
    top: 2.3rem;
    right: 2rem;
    background: none;
    border: none;
    color: $third-color;
    cursor: pointer;
    margin-right: 0.5rem;
  }

  &__links {
    list-style: none;
    display: none;
    flex-wrap: wrap;
    justify-content: end;
    gap: $spacing-md;
    margin-right: 1rem;

    &__item {
      @include flexboxRow;
      gap: 0.4rem;
      align-items: center;
      color: $third-color;
      text-decoration: none;
      font-size: map-get($font-sizes, "small");
      @include hoverGrow;
    }

    &--open {
      display: flex;
      margin-top: 4rem;
    }
  }
}

@media (min-width: 52.65rem) {
  .navbar {
    &__hamburger {
      display: none;
    }

    &__links {
      display: flex;
      margin-top: 1rem;
    }
  }
}
