@import "../../Style/variables";
@import "../../Style/mixins";

// --- POP UP WINDOW ---
.popUpWindow {
  border-radius: $border-radius;
  background-color: $third-color;
  padding: 2rem;
  text-align: center;
  width: 28rem;
  z-index: 10;
  position: fixed;
  top: 18rem;
  left: calc(50% - 16rem);

  // --- POP UP WINDOW TEXT ---
  &__text {
    text-align: center;
    font-size: map-get($font-sizes , "small");
    color: $primary-color;
  }

  // --- BUTTONS ---
  &__buttonContainer {
    @include flexboxRow;
    justify-content: center;
    gap: 2rem;

    &__cancelButton {
      @include buttonBase;
      width: 6rem;
    }

    &__deleteButton {
      @include buttonBase;
      width: 6rem;
      background-color: $error-color;

      &:hover{
        color: $error-color;
        border-color: $error-color;
      }
    }
  }
}
