@import "../../style/variables";
@import "../../style/mixins";

.productList {
  @include listBase;

  &__item {
    @include itemBase;
    @include flexboxRow;
    align-items: center;
    gap: 1rem;

    &:hover {
      @include itemHoverBase;
    }
  }

  &__addButton {
    @include buttonBase;
    @include flexboxRow;
    @include flexboxCenter;
    gap: 0.5rem;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
  }
}
