@import "../../style/variables";
@import "../../style/mixins";
@import "../../style/maps";

// --- PRODUCT DETAILS ---
.productDetails {
  @include detailsBase;

  // --- NAME ---
  &__name {
    font-size: map-get($font-sizes, "medium");
  }

  // --- DETAILS FIELDS ---
  &__number,
  &__quantityType,
  &__time {
    @include flexboxRow;
    @include iconContainer;

    &__key {
      @include detailsKeyBase;
    }

    &__value {
      @include detailsValueBase;
    }
  }

  // --- WAREHOUSES ---
  &__warehouses {
    @include flexboxColumn;

    // --- KEY TITLE ---
    &__key {
      @include iconContainer;

      &__icon {
        min-width: 1.5rem;
        min-height: 1.5rem;
      }

      &__text {
        @include detailsKeyBase;
      }
    }

    // --- WAREHOUSE LIST ---
    &__value {
      @include flexboxColumn;

      // --- HEADER ---
      &__header {
        @include flexboxRow;
        align-items: center;
        justify-content: space-between;
        padding-left: $spacing-md;
        padding-right: $spacing-md;

        &__name,
        &__quantity,
        &__date {
          @include iconContainer;
        }

        &__name {
          flex: 1.2;
        }

        &__quantity {
          flex: 1;
          justify-content: center;
        }

        &__date {
          flex: 1;
          justify-content: flex-end;
        }
      }

      // --- RECORDS ---
      &__item {
        @include itemBase;
        @include flexboxRow;
        align-items: center;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;

        &:hover {
          @include itemHoverBase;
        }

        &__name {
          flex: 1.2;
        }

        &__quantity {
          @include flexboxRow;
          flex: 1;
          align-items: center;
          gap: 0.3rem;
        }

        &__date {
          flex: 1;
        }
      }
    }
  }

  // --- EMPTY PROPERTY ---
  &__empty {
    @include flexboxRow;
    gap: 1rem;
  }

  // --- BUTTONS ---
  &__optionsContainer {
    @include flexboxRow;
    gap: 1rem;
    margin-top: 2rem;

    &__deleteButton,
    &__modifyButton,
    &__addMovementButton {
      @include buttonBase;
      margin: 0rem;
      width: 2.8rem;
      height: 2.8rem;
      padding-top: 0.3rem;
    }

    &__deleteButton {
      background-color: $error-color;

      &:hover {
        color: $error-color;
        border-color: $error-color;
      }
    }

    &__addMovementButton {
      @include iconContainer;
      justify-content: center;
      width: 4.8rem;
    }
  }
}
