@import "./variables.scss";
@import "./maps.scss";

// --- FLEXBOX ---

@mixin flexboxRow {
  display: flex;
  flex-direction: row;
}

@mixin flexboxColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexboxCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// --- BUTTON ---

@mixin buttonBase {
  background-color: $primary-color;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-family: $font-family;
  font-size: map-get($font-sizes, "small");
  height: 2.5rem;
  color: $third-color;
  margin-top: 5rem;

  &:hover {
    background-color: $third-color;
    color: $primary-color;
    border: 0.18rem solid $primary-color;
  }
}

// --- PAGE ---

@mixin pageContainer {
  @include flexboxColumn;
  align-items: center;
  width: 100%;
  background-color: $background-color;
  min-height: 90vh;
  font-family: $font-family;
}

@mixin pageTitle {
  font-size: map-get($font-sizes, "medium");
  text-align: center;
  color: $primary-color;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

// --- LIST ---

@mixin listBase {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  font-family: $font-family;
  width: 80%;
}

@mixin itemBase {
  background-color: $third-color;
  border: 1px solid #ccc;
  padding: $spacing-md;
  border-radius: $border-radius;
  border: none;
  box-shadow: 0rem 0rem 0.5rem rgb(0, 0, 0, 0.2);
  text-decoration: none;
  color: $text-color;
  font-family: $font-family;
  height: 1.5rem;
  font-size: map-get($font-sizes, "small");
}

@mixin itemHoverBase {
  background-color: $primary-color;
  color: $third-color;
}

// --- FORM ---

@mixin formBase {
  @include flexboxColumn;
  gap: 1rem;
  margin: 0rem auto;
  font-family: $font-family;
  width: 90%;
  max-width: 30rem;
  margin-bottom: 5rem;
}

@mixin inputFieldBase {
  height: 2.5rem;
  font-size: map-get($font-sizes, "small");
  border-radius: $border-radius;
  border: 0.1rem solid $primary-color;
  padding-left: 1rem;
  font-family: $font-family;
  cursor: pointer;

  &:hover {
    background-color: darken($third-color, 10%);
  }
}

@mixin selectFieldBase {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='currentColor' stroke-width='2' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.8rem 0.6rem;
  cursor: pointer;
  height: 2.8rem;
}

@mixin inputLabelBase {
  font-size: map-get($font-sizes, "small");
  margin-top: 2rem;
  padding-left: 1rem;
  font-family: $font-family;
}

// --- DETAILS ---

@mixin detailsBase {
  background-color: white;
  border: 1px solid #ccc;
  padding: $spacing-md;
  border-radius: $border-radius;
  border: none;
  box-shadow: 0rem 0rem 0.5rem rgb(0, 0, 0, 0.2);
  text-decoration: none;
  color: $text-color;
  font-family: $font-family;
  font-size: map-get($font-sizes, "small");
  width: calc(80% - 2 * ($spacing-md));
  margin: 3rem auto;
}

@mixin detailsKeyBase {
  font-weight: bold;
}

@mixin detailsValueBase {
  margin-left: 0.5rem;
}

// --- EFFECTS ---
@mixin hoverGrow {
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.1);
  }
}

// --- ICON DESIGN ---
@mixin iconContainer {
  @include flexboxRow;
  align-items: center;
  gap: 0.5rem;

  &__icon {
    margin-bottom: 0.2rem;
  }
}
