@import "../../style/mixins.scss";
@import "../../style/maps.scss";

.homePage {
  @include pageContainer;
  width: 100%;

  &__title {
    @include pageTitle;
    font-size: map-get($font-sizes, "large");
    color: $primary-color;
  }

  &__linkCardContainer {
    @include flexboxRow;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50rem;
    flex: 1 1;
    gap: 3rem;
    margin-bottom: 5rem;

    &__warehouseCard,
    &__productCard,
    &__companyCard,
    &__stockmovementCard {
      @include hoverGrow;
      @include flexboxColumn;
      justify-content: center;
      width: 15rem;
      height: 16rem;
      background-color: $third-color;
      color: $primary-color;
      border-radius: $border-radius;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      filter: grayscale(80%) brightness(0.8);

      &__title {
        align-self: center;
        color: $third-color;
        filter: none;
      }

      &:hover{
        filter: none;
      }
    }

    &__warehouseCard {
      background-image: url("../../assets/images/pexels-erwinfhm-24862481.jpg");
    }

    &__productCard {
      background-image: url("../../assets/images/360_F_645501984_rjNGGzJZB24DjnZFxX9zlcTQfSHe1YnT.jpg");
    }

    &__companyCard {
      background-image: url("../../assets/images/pexels-fauxels-3183197.jpg");
    }

    &__stockmovementCard {
      background-image: url("../../assets/images/AdobeStock_622375139-1024x574.jpeg");
    }
  }
}

@media (min-width: 72rem) {
  .homePage {
    &__title {
      @include pageTitle;
      font-size: map-get($font-sizes, "extra");
      color: $primary-color;
    }
    &__linkCardContainer {
      max-width: 100%;

      &__linkCard {
        &__card {
          width: 15rem;
          height: 16rem;
        }
      }
    }
  }
}

@media (min-width: 85rem) {
  .homePage {
    &__linkCardContainer {
      max-width: 100%;

      &__linkCard {
        &__card {
          width: 18rem;
          height: 20rem;
        }
      }
    }
  }
}

@media (min-width: 100rem) {
  .homePage {
    &__linkCardContainer {
      max-width: 100%;

      &__linkCard {
        &__card {
          width: 22rem;
          height: 24rem;
        }
      }
    }
  }
}
