@import "../../style/variables";
@import "../../style/mixins";

// --- STOCKMOVEMENT LIST ---
.stockmovementList {
  @include listBase;

  // --- HEADER ---
  &__header {
    @include flexboxRow;
    align-items: center;
    justify-content: space-between;
    padding-left: $spacing-md;
    padding-right: $spacing-md;
    color: $text-color;
    font-family: $font-family;
    font-size: map-get($font-sizes, "small");
    display: none;

    &__warehouse {
      @include iconContainer;
      flex: 1.2;
      align-items: center;
      margin-left: 3rem;
    }

    &__product {
      @include iconContainer;
      flex: 1;
      justify-content: center;
      margin-right: 3rem;
    }

    &__movementType {
      @include iconContainer;
      flex: 1.2;
      justify-content: center;
      margin-right: 4rem;
    }

    &__date {
      @include iconContainer;
      flex: 1;
      justify-content: flex-end;
    }
  }

  // --- RECORDS ---
  &__item {
    @include itemBase;
    height: fit-content;
    @include flexboxColumn;
    gap: 1rem;
    justify-content: space-between;

    &:hover {
      @include itemHoverBase;
    }

    &__warehouse {
      @include iconContainer;
      flex: 1.2;
      align-items: center;
      gap: 1rem;
    }

    &__product {
      @include flexboxRow;
      flex: 1;
      margin-left: 2.5rem;
    }

    &__movementType {
      @include flexboxRow;
      flex: 1.2;
      margin-left: 2.5rem;
    }

    &__date {
      @include flexboxRow;
      flex: 1;
      margin-left: 2.5rem;
    }
  }

  // --- BUTTON ---
  &__addButton {
    @include buttonBase;
    @include flexboxRow;
    @include flexboxCenter;
    gap: 0.5rem;
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
  }
}

// --- MEDIA QUERIES ---
@media (min-width: 45rem) {
  .stockmovementList {
    &__header {
      display: flex;
    }

    &__item {
      @include flexboxRow;
      align-items: center;

      &__warehouse {
        @include iconContainer;
        flex: 1.2;
        align-items: center;
        gap: 1rem;
      }

      &__product {
        @include flexboxRow;
        flex: 1;
        justify-content: center;
        margin-left: 0rem;
      }

      &__movementType {
        @include flexboxRow;
        flex: 1.2;
        justify-content: center;
        margin-left: 0rem;
      }

      &__date {
        @include flexboxRow;
        flex: 1;
        justify-content: flex-end;
        margin-left: 0rem;
      }
    }
  }
}
