@import "../../style/variables";
@import "../../style/mixins";

.stockmovement-list {
  @include listBase;

  &__item {
    @include itemBase;
    height: fit-content;
    @include flexboxColumn;
    justify-content: space-between;

    &:hover {
      @include itemHoverBase;
    }

    &__id {
      @include flexboxRow;
      flex-wrap: wrap;
      align-items: center;
      gap: 2rem;
      margin-left: 1rem;
    }

    &__info {
      @include flexboxRow;
      flex-wrap: wrap;
      align-items: center;
      gap: 2rem;
      margin-left: 4.3rem;
    }
  }
}

@media (min-width: 55rem) {
  .stockmovement-list {
    &__item {
      @include flexboxRow;
      @include itemBase;
      @include flexboxRow;
      align-items: center;
      gap: 1rem;

      &__id {
        margin-left: 0rem;
        flex-wrap: nowrap;
      }

      &__info {
        margin-left: 0rem;
        flex-wrap: nowrap;
      }
    }
  }
}
