@import "../../style/variables";
@import "../../style/mixins";

// --- USER LIST ---
.userList {
  @include listBase;

  // --- RECORDS ---
  &__item {
    @include itemBase;
    @include flexboxRow;
    align-items: center;
    justify-content: space-between;

    &__email {
      @include iconContainer;
      gap: 1rem;
    }

    &:hover {
      @include itemHoverBase;
    }
  }
}
