@import "../../style/mixins.scss";

.registerPage {
  @include pageContainer;

  &__header {
    width: 90%;
    max-width: 30rem;

    &__title {
      @include pageTitle;
      @include iconContainer;
      justify-content: center;
    }
  }
}