@import "../../style/variables";
@import "../../style/mixins";
@import "../../style/maps";

// --- COMPANY DETAILS ---
.companyDetails {
  @include detailsBase;

  // --- NAME ---
  &__name {
    font-size: map-get($font-sizes, "medium");
  }

  // --- MOVEMENTS ---
  &__movements {
    @include flexboxColumn;

    // --- KEY TITLE ---
    &__key {
      @include iconContainer;

      &__icon {
        min-height: 1.5rem;
        min-width: 1.5rem;
      }

      &__text {
        @include detailsKeyBase;
      }
    }

    // --- MOVEMENT LIST ---
    &__value {
      @include flexboxColumn;

      // --- HEADER ---
      &__header {
        @include flexboxRow;
        align-items: center;
        justify-content: space-between;
        padding-left: $spacing-md;
        padding-right: $spacing-md;
        display: none;

        &__warehouse,
        &__product,
        &__movementType,
        &__date {
          @include iconContainer;
        }

        &__warehouse {
          flex: 1.2;
        }

        &__product {
          flex: 1;
        }

        &__movementType {
          flex: 1;
          justify-content: center;
        }

        &__date {
          flex: 1;
          justify-content: flex-end;
        }
      }

      // --- RECORDS ---
      &__item {
        @include itemBase;
        @include flexboxRow;
        align-items: center;
        justify-content: space-between;
        margin-left: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;

        &:hover {
          @include itemHoverBase;
        }

        &__warehouse {
          flex: 1.2;
        }

        &__product {
          @include flexboxRow;
          flex: 1;
          align-items: center;
          gap: 0.3rem;
          display: none;
        }

        &__movementType {
          flex: 1;
          @include flexboxRow;
          justify-content: center;
          display: none;
        }

        &__date {
          flex: 1;
          @include flexboxRow;
          justify-content: flex-end;
        }
      }
    }
  }

  // --- EMPTY PROPERTY ---
  &__empty {
    @include flexboxRow;
    gap: 1rem;
  }

  // --- BUTTONS ---
  &__optionsContainer {
    @include flexboxRow;
    gap: 1rem;
    margin-top: 2rem;

    &__deleteButton,
    &__modifyButton {
      @include buttonBase;
      margin: 0rem;
      width: 2.8rem;
      height: 2.8rem;
      padding-top: 0.3rem;
    }

    &__deleteButton {
      background-color: $error-color;

      &:hover {
        color: $error-color;
        border-color: $error-color;
      }
    }
  }
}

// --- MEDIA QUERIES ---
@media (min-width: 45rem) {
  .companyDetails {
    &__movements {
      &__value {
        &__header {
          display: flex;
        }

        &__item {
          &__product,
          &__movementType {
            display: flex;
          }
        }
      }
    }
  }
}
