@import "../../style/variables";
@import "../../style/mixins";

// --- COMPANY LIST ---
.companyList {
  @include listBase;

  // --- RECORDS ---
  &__item {
    @include itemBase;
    @include iconContainer;
    gap: 1rem;

    &:hover {
      @include itemHoverBase;
    }
  }

  // --- BUTTON ---
  &__addButton {
    @include buttonBase;
    @include flexboxRow;
    @include flexboxCenter;
    gap: 0.5rem;
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
  }
}
