@import "../../style/mixins.scss";

// --- LOGIN PAGE ---
.loginPage {
  @include pageContainer;

  // --- HEADER ---
  &__header {
    width: 90%;
    max-width: 30rem;

    &__title {
      @include pageTitle;
      @include iconContainer;
      justify-content: center;
    }
  }
}