@import "../../style/variables";
@import "../../style/mixins";

.warehouseList {
  @include listBase;

  &__item {
    @include itemBase;
    position: relative;
    padding-right: 5rem;

    &:hover {
      @include itemHoverBase;
    }

    &__name {
      @include iconContainer;
      gap: 1rem;
    }

    &__optionsContainer {
      &__reportButton {
        @include buttonBase;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        z-index: 1;
        background-color: $primary-color;
        color: $third-color;
        border: 0.15rem solid $primary-color;
        border-radius: $border-radius;
        padding-top: 0.3rem;

        &:hover {
          color: $primary-color;
          border: 0.15rem solid $third-color;
          border-radius: $border-radius;
        }
      }
    }
  }

  &__addButton {
    @include buttonBase;
    @include flexboxRow;
    @include flexboxCenter;
    gap: 0.5rem;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
  }
}
