@import "../../style/variables";
@import "../../style/mixins";
@import "../../style/maps";

.warehouseDetails{
    @include detailsBase;

    &__name{
        font-size: map-get($font-sizes, "medium");
    }

    &__address{
        @include flexboxRow;
        gap: 1rem;

        &__key{
            @include detailsKeyBase;
        }

        &__value{
            @include detailsValueBase;
        }
    }

    &__description{
        @include flexboxRow;
        gap: 1rem;

        &__key{
            @include detailsKeyBase;
        }

        &__value{
            @include detailsValueBase;
        }
    }

    &__products{
        @include flexboxRow;
        gap: 1rem;

        &__key{
            @include detailsKeyBase;
        }

        &__value{
            @include detailsValueBase;
        }
    }

    &__movements{
        @include flexboxRow;
        gap: 1rem;

        &__key{
            @include detailsKeyBase;
        }

        &__value{
            @include detailsValueBase;
        }
    }
}