@import "../../style/variables";
@import "../../style/mixins";
@import "../../style/maps";

// --- STATISTICS DETAILS ---
.statisticsDetails {
  @include detailsBase;

  // --- TITLE ---
  &__title {
    @include pageTitle;
  }

  // --- DIAGRAM ---
  &__stats {
    @include detailsBase;
    position: relative;
    max-width: 1000px;
    height: 300px; 
    margin: 0rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
